* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	border: 0px dashed #ff7;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	min-height: 100vh;
}

#root * {
	display: flex;
	font-family: roboto, sans-seriff;
}

body {
	background: #f5f5f5;
}
